{% extends "layout.html" %}

{% block title %}Delete a listing{% endblock %}

{% block content %}

<h2>Delete the listing for {{ pet.name }}</h2>
<p>Are you sure you want to delete this listing? This cannot be undone.</p>

<form action="/delete_pet/{{ pet.id }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="delete" value="Yes, delete" />
  <input type="submit" name="cancel" value="No, return to the listing" />
</form>

{% endblock %}