{% extends "layout.html" %}

{% block title %}Update a listing{% endblock %}

{% block content %}
<h2>{{ pet.name }}</h2>
<h3>Update the listing for your pet</h3>
<form action="/update_pet" method="post">
  <p>
    <label for="name">Name <span class="required">*</span></label><br />
    <input type="text" name="name" id="name" value="{{ pet.name }}" maxlength="40" required />
  </p>
  <p>
    <label for="birth_year">Year of birth <span class="required">*</span></label><br />
    <input type="text" name="birth_year" id="birth_year" pattern="(19|20)[0-9]{2}" value="{{ pet.birth_year }}" required />
  </p>
  <input type="hidden" name="pet_id" value="{{ pet.id }}" />
  {% for class in all_classes %}
  <p>
    <label for="class_{{ class }}">{{ class }} <span class="required">*</span></label><br />
    <select name="classes" id="class_{{ class }}" required>
      {% for option in all_classes[class] %}
        {% if pet_classes[class] == option %}
        <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
        {% else %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </p>
  {% endfor %}
  <p>
    <label for="breed">Breed <span class="required">*</span></label><br />
    <input type="text" name="breed" id="breed" value="{{ pet.breed }}" maxlength="40" required />
  </p>
  <p>
    <label for="description">Description (optional)</label><br />
    <textarea name="description" rows="8" cols="50" maxlength="1000">{{ pet.description }}</textarea>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Update listing" />
</form>
<p>
  <a href="/pet/{{ pet.id }}">&laquo; Return without updating</a>
</p>
{% endblock %}