{% extends "layout.html" %}

{% block title %}Update images{% endblock %}

{% block content %}

<h2>Images for {{ pet.name }}</h2>
{% if images %}
  <form action="/delete_images" method="post">
    <div class="image-grid">
      {% for image in images %}
        <div class="image-container">
          <img src="/image/{{ image.id }}" alt="Image of the pet" /><br />
          <input type="checkbox" name="image_id" value="{{ image.id }}" />
        </div>
      {% endfor %}
    </div>
    <br />
    <input type="hidden" name="pet_id" value="{{ pet.id }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Delete selected images" />
  </form>
{% else %}
  No images added.
{% endif %}

<form action="/add_images" method="post" enctype="multipart/form-data">
  <h3 id="slash">Add new images</h3>
  <hr />
  You can add images of your pet in JPG or PNG format (max file size 100 kb)
  <p>
    <label for="images">Upload images</label>:
    <input type="file" name="images" id="images" accept=".png, .jpg" multiple />
  </p>
  <input type="hidden" name="pet_id" value="{{ pet.id }}" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Upload" />
</form>

<p>
  <a href="/pet/{{ pet.id }}">&laquo; Return to {{pet.name }}'s profile</a>
</p>

{% endblock %}