{% extends "layout.html" %}

{% block title %}Rehome a pet{% endblock %}

{% block content %}
<h2>Adopt, don't shop</h2>
{% if not session.user_id %}
<p>Log in or register to apply for adoption or list your pet for a new home.</p>
<form action="/login" method="post">
  <p>
    Username: <br />
    <input type="text" name="username" required />
  </p>
  <p>
    Password: <br />
    <input type="password" name="password" required />
  </p>
  <input type="submit" value="Log in" />
</form>
<p>
  Don't have an account yet?<br />
  <a href="/register">Sign up</a>
</p>
{% else %}
<p>Hi, {{ session.username }}! Nice to see you today.</p>
{% endif %}

<h2>Find a pet</h2>
{% if listings %}
<div class="image-grid">
  {% for listing in listings %}
  <div>
    {% if listing.image_id %}
    <div class="image-container">
      <img src="/image/{{ listing.image_id }}" alt="Image of the pet" />
    </div>
    {% endif %}
    <b>{{listing.name}}</b><br />
    <i>{{listing.breed}}</i><br />
    Born in {{listing.birth_year}}<br />
    Living in {{listing.location}}<br />
    <a href="pet/{{ listing.id }}">Read more</a>
  </div>
  {% endfor %}
</div>
{% else %}
No pets currently looking for a new home.
{% endif %}
{% endblock %}