<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>Rehome a pet</h1>
  </div>
  <div class="nav">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/search">Search</a></li>
        {% if session.username %}
        <li><a href="/user/{{ session.user_id }}">Profile</a></li>
        <li><a href="/new_pet">List a pet</a></li>
        <li><a href="/logout">Log out</a></li>
        {% else %}
        <li><a href="/register">Sign up</a></li>
        {% endif %}
        <li></li>
      </ul>
    </nav>
  </div>

  {% for message in get_flashed_messages() %}
  <div class="flash">
    {{ message | show_newlines }}
  </div>
  {% endfor %}

  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>