{% extends "layout.html" %}

{% block title %}Search{% endblock %}

{% block content %}
<h2>Search</h2>
<form action="/search" method="get">
  <p>
    <label for="query">Keyword</label>:
    <input type="text" name="query" id="query" value="{{ query }}" />
  </p>
  <input type="submit" value="Search" />
</form>

{% if query %}
<h3>Search results</h3>
{% if results|length > 0 %}
<ul>
  {% for pet in results %}
  <li><a href="/pet/{{ pet.id }}">{{ pet.name }}</a>: {{ pet.breed}} in {{ pet.location }}</li>
  <hr />
  {% endfor %}
</ul>
<div class="page-counter">
  {% if page > 1 %}
  <a href="/search/{{ page - 1}}?query={{ query }}">&lt; </a>
  {% endif %}
  Page {{ page }}/{{ page_count }}
  {% if page_count > 1 %}
  <a href="/search/{{ page + 1}}?query={{ query }}"> &gt;</a>
  {% endif %}
</div>
{% else %}
<p>
  No results. Try different keywords.
</p>
{% endif %}
{% endif %}
{% endblock %}