{% extends "layout.html" %}

{% block title %}Search{% endblock %}

{% block content %}
<h2>Search</h2>
<form action="/search" method="get">
  <p>
    <label for="query">Keyword</label>:
    <input type="text" name="query" id="query" value="{{ query }}" />
  </p>
  <input type="submit" value="Search" />
</form>

{% if query %}
<h3>Search results</h3>
{% if results|length > 0 %}
<div class="image-grid">
  {% for pet in results %}
  <div>
    <div class="image-container">
      <a href="/pet/{{ pet.id }}">
      {% if pet.image_id %}
      <img src="/image/{{ pet.image_id }}" alt="Image of the pet" />
      {% else %}
      <img src="{{ url_for('static', filename='images/default.png') }}" alt="Placeholder image" />
      {% endif %}
      </a>
    </div>
    <b>{{ pet.name }}</b><br />
    {{ pet.breed}} in {{ pet.location }}<br />
    <a href="/pet/{{ pet.id }}">Read more</a>
  </div>
  {% endfor %}
</div>
<div class="pagination">
  <ul>
    {% if page > 1 %}
    <li><a href="/search/{{ page - 1}}?query={{ query }}">&laquo; </a></li>
    {% endif %}
    <li>Page {{ page }} / {{ page_count }}</li>
    {% if page_count > page %}
    <li><a href="/search/{{ page + 1}}?query={{ query }}"> &raquo;</a></li>
    {% endif %}
  </ul>
</div>
{% else %}
<p>
  No results. Try different keywords.
</p>
{% endif %}
{% endif %}
{% endblock %}