<!DOCTYPE html>

<html>

<head>
  <title>{{ pet.name }}</title>
</head>

<body>
  <p>
    {% if images %}
    {% for image in images %}
    <img src="/image/{{ image.id }}" alt="Image of the pet" />
    {% endfor %}
    {% else %}
    No images added yet for this pet.
    {% endif %}
  </p>
  <h2>{{ pet.name }}</h2>
  <p>
    <ul>
      <li>Breed: {{ pet.breed }}</li>
      {% if classes %}
      {% for class in classes %}
      <li>{{ class.title }}: {{ class.value }}</li>
      {% endfor %}
      {% endif %}
      <li>Born in: {{ pet.birth_year}}</li>
      <li>Lives in: {{ pet.location }}</li>
    </ul>
  </p>
  <p>
    {{ pet.description | show_newlines }}
  </p>
  <p>
    Owner: <a href="/user/{{ pet.user_id}}">{{ pet.owner }}</a>
  </p>
  <hr />
  {% if session.user_id == pet.user_id %}
  <h3>Adoption applications for {{ pet.name }}</h3>
  Applications received: {{ applications | count}}<br />
  <ul>
  {% for application in applications %}
    <li><a href="/application/{{ application.id }}">{{ application.username }}</a></li>
  {% endfor %}
  </ul>
  <hr />
  <p>
    <ul>
      <li><a href="/edit_pet/{{ pet.id }}">Update this listing</a></li>
      <li><a href="/delete_pet/{{ pet.id }}">Delete this listing</a></li>
      <li><a href="/images/{{ pet.id }}">Add or delete images</a></li>
    </ul>
  </p>
  {% elif session.user_id %}
  <p>
    Would you like to adopt {{ pet.name }}? <br />
    <a href="/adopt_pet/{{ pet.id }}">Fill in the form to apply</a>
  </p>
  {% else %}
  <p>
    Please <a href="/register">create an account</a> to apply for this pet.
  </p>
  {% endif %}
  <p>
    <a href="/">Return to all listings</a>
  </p>

</body>

</html>